@tailwind base;
@tailwind components;
@tailwind utilities;

/* 600: '#475569',
700: '#334155',
800: '#1e293b',
900: '#0f172a' */

#root{
  --border-black: #475569;
  --contra: #ff4b4c;
}

  /* #app{
    font-family: 'Favorit';
    font-size: 1vw;
    color: black;
} */

/* #app {
  background: black;
} */



@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    padding: 20px;
  }
} 

.hover-article{
  @apply  hover:bg-contra transition duration-500 hover:scale-105;
}

@font-face {
    font-family: "Dugas";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Dugas"), 
    url("../fonts/Ddugas/dugas.woff2") format("woff2"),
    url("../fonts/Dugas/dugas.ttf") format("truetype");
  }

  @font-face {
    font-family: "Favorit-bold";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Favorit-bold"), 
    url("../fonts/Favorit/favorit_bold.woff2") format("woff2"),
    url("../fonts/Favorit/favorit_bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Favorit";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Favorit"), 
    url("../fonts/Favorit/favorit.woff2") format("woff2"),
    url("../fonts/Favorit/favorit.ttf") format("truetype");
  }

  @font-face {
    font-family: "Favorit-mono";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Favorit-mono"), 
    url("../fonts/Favorit/favorit_mono.woff2") format("woff2"),
    url("../fonts/Favorit/favorit_mono.ttf") format("truetype");
  }